* {
    box-sizing: border-box;
}

.topnav {
    background-color: white;
    overflow: hidden;

}


.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid #20c997;
}

.topnav a.active {
    border-bottom: 3px solid #20c997;

}

.teal {
    background-color: #20c997;
}